@use "./variables" as *;

.type-badge {
  color: black;
  font-weight: 600;
  border: none;
}

.type-normal {
  background-color: var(--pokemon-normal);
}

.type-fire {
  background-color: var(--pokemon-fire);
}

.type-water {
  background-color: var(--pokemon-water);
}

.type-electric {
  background-color: var(--pokemon-electric);
}

.type-grass {
  background-color: var(--pokemon-grass);
}

.type-ice {
  background-color: var(--pokemon-ice);
}

.type-fighting {
  background-color: var(--pokemon-fighting);
}

.type-poison {
  background-color: var(--pokemon-poison);
}

.type-ground {
  background-color: var(--pokemon-ground);
}

.type-flying {
  background-color: var(--pokemon-flying);
}

.type-psychic {
  background-color: var(--pokemon-psychic);
}

.type-bug {
  background-color: var(--pokemon-bug);
}

.type-rock {
  background-color: var(--pokemon-rock);
}

.type-ghost {
  background-color: var(--pokemon-ghost);
}

.type-dragon {
  background-color: var(--pokemon-dragon);
}

.type-dark {
  background-color: var(--pokemon-dark);
}

.type-steel {
  background-color: var(--pokemon-steel);
}

.type-fairy {
  background-color: var(--pokemon-fairy);
}
